{{> head }}

<header class="header">
<div class="header__background" style="background-color: #{{ background-color }}"></div>
        <div class="header__inner">
            <h1 class="header__title">
                {{ settings.blog.name }}
            </h1>
            <p class="header__subtitle">
            	{{ settings.blog.slogan }}
            </p>
            <a href="mailto:{{ settings.authorEmail }}" class="header__button">{{ button }}</a>
        </div>
</header>

<main class="main">
	<div class="main__inner">
		{{#each posts}}
			{{#if featured }}
				<article class="post post--featured">
			        <h2 class="post__title">{{ title }}</h2>
				    <div class="post__excerpt">
				        {{{ content }}}
				    </div>
				</article>
			{{/if}}
		{{/each}}

		{{#each posts}}
			{{#unless featured }}
				 <article class="post">
			        <div class="post__meta">
			            <time class="post__date" datetime="{{ date }}">{{ date }}</time>  
			        </div>
			        <h2 class="post__title">
			        	<a href="posts/{{ slug }}.html">{{ title }}</a>
			    	</h2>
				    <div class="post__excerpt">
				        <p>
				        	{{ excerpt }}
				        </p>
				    </div>
				</article>
			{{/unless}}
		{{/each}}
	</div>
</main>

{{> footer }}