{{> head }}

<header class="header">
<div class="header__background" style="background-color: #333"></div>
    <div class="header__inner">
        <a href="/" class="button">←</a>
        <h1 class="header__title">
            {{ title }}
        </h1>
    </div>
</header>

<main>

<article class="single">

        <div class="single__content">
          {{{ content }}}
        </div>

        <div class="single__footer">
            <div class="single__meta">
                <span>Author</span>
                <p>{{ settings.author.name }}</p>
            </div>
            <div class="single__share">
                <span>Share</span>
                <p class="social">
                    {{#if settings.author.facebook }}<a href="{{ settings.author.facebook }}"><i class="fi-social-facebook"></i></a>{{/if}}
                    {{#if settings.author.github }}<a href="{{ settings.author.github }}"><i class="fi-social-github"></i></a>{{/if}}
                    {{#if settings.author.twitter }}<a href="{{ settings.author.twitter }}"><i class="fi-social-twitter"></i></a>{{/if}}
                    {{#if settings.author.instagram }}<a href="{{ settings.author.instagram }}"><i class="fi-social-instagram"></i></a>{{/if}}
                </p>
            </div>
        </div>

    </article>

</main>

{{> footer }}