// Colors
$white: #FFFFFF;
$black: #000000;
$off-white: #F6F6F6;
$off-black: #333333;
$ghost-white: rgba($white, .1);
$ghost-black: rgba($black, .1);

$blue: #2c91b4;

// Fonts
$primary-font: 'Yantramanav', sans-serif;
$secondary-font: 'Yantramanav', sans-serif;

// Spacing
$spacing-xs: .5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 8rem;

// Other
$border-radius: 4rem;
$box-shadow: 0 0 .25rem rgba($black, .25);

// Media queries