---
title: My favorite dogs
date: 2016-02-22
slug: my-favorite-dogs
tags:
  - Animals
  - Dogs
excerpt: In this post I bring you a list of the top 3 best dogs of all time.
content: |
  <p>These are my favorite dogs:</p>
  <ol>
    <li>Doge</li>
    <li>Dog</li>
    <li>Clifford the Big Red Dog</li>
  </ol>
  <p>Thank you all for reading!</p>
---